<h3>Pandas will be our go-to library for organizing and pre-processing data before an analysis. </h3>

In [5]:
import pandas as pd
import numpy as np

    Pandas allows us to work with data in organized rows and columns. Pandas series, data frames, and panels
    can store data with column names and indexes.

In [6]:
#the DataFrame command takes three main parameters: the data, the row index, and the column labels

#Example: 
#pd.DataFrame(data,index,columns)

In [12]:
#We can convert lists into a dataframe by specifiying the columns and row indicies that correpsond to the dimensions of the list
little_df = pd.DataFrame([1,2,3], index= [1,2,3],columns = ['Column1'])
print(little_df)

   Column1
1        1
2        2
3        3

In [10]:
#Converting dictionaries into dataframes

#first create the dictionary
my_dict = {'Name':['Jimmy','John'], 'Age':[25,45], 'Hometown':['Miami','Kuala Lumpur']}
print(my_dict)

{'Name': ['Jimmy', 'John'], 'Age': [25, 45], 'Hometown': ['Miami', 'Kuala Lumpur']}

In [11]:
#convert the dictionary into a df
friends = pd.DataFrame(my_dict)
print(friends)

   Age      Hometown   Name
0   25         Miami  Jimmy
1   45  Kuala Lumpur   John

In [43]:
#convert an array into a df
numpy_array1 = np.array([[5,4,5],[10,40,800]])

In [47]:
df2 = pd.DataFrame(numpy_array1, index = ['a','b'], 
                            columns = ['uno','two','tres'])
print(df2)

   uno  two  tres
a    5    4     5
b   10   40   800

In [ ]:
#Data Frames can be created using different data objects like arrays, series, or other data frames.

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(__________)

# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(________________)

# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(________________)

# Take a Series as input to your DataFrame
my_series = pd.Series({"Belgium":"Brussels", "India":"New Delhi", "United Kingdom":"London", "United States":"Washington"})
print(________________)

In [14]:
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray, index = ['1','2'], columns = ['A', 'B', 'C']))

   A  B  C
1  1  2  3
2  4  5  6

In [19]:
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict, index = [0,1]))

   1  2  3
0  1  1  2
1  3  2  4

In [21]:
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

In [50]:
my_series = pd.Series({"Belgium":"Brussels", "India":"New Delhi", "United Kingdom":"London", "United States":"Washington"})
print(pd.DataFrame(my_series, columns = ['City']))
#notice that the country names became the rows!

                      City
Belgium           Brussels
India            New Delhi
United Kingdom      London
United States   Washington

    Let's return to our the 'friends' dataframe and inspect it!

In [51]:
print(friends)

   Age      Hometown   Name
0   25         Miami  Jimmy
1   45  Kuala Lumpur   John

In [52]:
#column-wise
print(friends['Age'])

0    25
1    45
Name: Age, dtype: int64

In [53]:
friends['Age'].sum()

70

In [54]:
friends['Age'].mean()

35.0