<h2>Pandas will be our go-to library for organizing and pre-processing data before an analysis. </h2>

In [11]:
import pandas as pd
import numpy as np

    Pandas allows us to work with data in organized rows and columns. Pandas series, data frames, and panels
    can store data with column names and indexes.

In [ ]:
pd.DataFrame(#data,#index,#columns)

In [26]:
little_df = pd.DataFrame([1,2,3], columns = ['Column1'])
print(little_df)

   Column1
0        1
1        2
2        3

In [35]:
my_dict = {'Name':['Jimmy','John'], 'Age':[25,45], 'Hometown':['Miami','Malaysia']}
print(my_dict)

{'Age': [25, 45], 'Name': ['Jimmy', 'John'], 'Hometown': ['Miami', 'Malaysia']}

In [39]:
friends = pd.DataFrame(my_dict)
print(friends)

   Age  Hometown   Name
0   25     Miami  Jimmy
1   45  Malaysia   John

In [43]:
numpy_array1 = np.array([[5,4,5],[10,40,800]])

In [47]:
df2 = pd.DataFrame(numpy_array1, index = ['a','b'], 
                            columns = ['uno','two','tres'])
print(df2)

   uno  two  tres
a    5    4     5
b   10   40   800

In [51]:
made_updf1 = pd.DataFrame([1,2,45,55], index = [1,2,3,4])

In [ ]:
#Data Frames can be created using different data objects like arrays, series, or other data frames

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(__________)

# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(________________)

# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(________________)

# Take a Series as input to your DataFrame
my_series = pd.Series({"Belgium":"Brussels", "India":"New Delhi", "United Kingdom":"London", "United States":"Washington"})
print(________________)

In [21]:
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
pd.DataFrame(my_2darray, index = ['1','2'], columns = ['A', 'B', 'C'])

   A  B  C
1  1  2  3
2  4  5  6

In [58]:
print(friends)

   Age  Hometown   Name
0   25     Miami  Jimmy
1   45  Malaysia   John

In [59]:
#column-wise
print(friends['Age'])

0    25
1    45
Name: Age, dtype: int64

In [79]:
friends['Age'].sum()

70

In [81]:
friends['Age'].mean()

35.0